.body {
  background-color: black;
  color: white;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  margin: 5px 0;
}
h2 {
  margin: 10px 0 20px;
  text-align: center;
}
input [type="checkbox"] {
  margin-right: 0;
}
.container {
  background-color: blue;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  display: grid;
  justify-content: center;
  align-items: center;
}
.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}
aside {
  text-align: right;
}
